// ====================================
// Displayed/not displayed
// ===================================

.is-displayed-sm {
	display: block;
	@include mq(medium) {
		display: none;
	}
}

.is-hidden-sm {
	@include mq(small) {
		display: none;
	}
}

.is-displayed-md {
	display: none;
	@include mq(tablets) {
		display: block;
	}
}

.is-displayed-lg {
	display: none;
	@include mq(large) {
		display: block;
	}
}