// ======
// Controls
// ========

$direction-offset-sm: 5;
$direction-offset: 20;
$direction-size-sm: 20;
$direction-size-lg: 30;

.direction {
	display: block;
	position: fixed;
	z-index: $hints-z-index - 2;
	margin: 0;
	border-radius: 0 0 remcalc(5) remcalc(5);
	border: none;
	outline: none;
	@include sides(remcalc(60), remcalc(40));
	background: rgba(0,0,0,0.5) url('../img/arrow.svg') no-repeat center;
	background-size: 90%;
	color: $white;

	@include mq(medium) {
		@include sides(remcalc(100), remcalc(70));
	}

	&--left {
		top: 50%;
		left: remcalc(-10);
		transform: translateY(-50%) rotate(-90deg);	

		@include mq(medium) {
			left: remcalc(-15);
		}
	}

	&--right {
		top: 50%;
		right: remcalc(-10);	
		transform: translateY(-50%) rotate(90deg);	

		@include mq(medium) {
			right: remcalc(-15);
		}
	}

	&--up {
		left: 50%;
		top: 0;
		transform: translateX(-50%);
	}

	&--down {
		left: 50%;
		bottom: 0;
		transform: translateX(-50%) rotate(180deg);
	}
}

.gamecontrols {
	width: 100%;
	display: flex;
	justify-content: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: $hints-z-index + 1;
    transform: translate(-50%, 100%);
    transition: all 0.4s;
}
