// ====================================
// To top link
// ===================================


#root {
	@include square(100%);
}

.main-container {
	display: flex;
    flex-direction: column;
	@include square(100%);
	justify-content: center;
    align-items: center;
}

.garden {
	display: flex;
	position: relative;
	margin-left: remcalc($mobile-offset);
	width: remcalc(10 * $space-width-sm);
	justify-content: center;
    vertical-align: top;
    z-index: 100;

    @media screen and (min-width: remcalc(660)) and (min-height: remcalc(375)) {
    	width: remcalc(10 * $space-width-ip6);
    }

    @media screen and (min-width: remcalc(1024)) and (min-height: remcalc(768)) {
    	width: remcalc(10 * $space-width-md);
    }

    @include mq(large) {
    	margin: 0 auto;
    	width: remcalc(10 * $space-width-lg);
    }

    @include e(container) {
	    position: relative;
	    width: 100%;
	    background: $brown;
	    border: $brown-dark 1px solid;
	    min-height: 280px;

	    @include mq(iphone6) {
	    	min-height: 325px
	    }

	    @include mq(medium) {
	    	min-height: 560px;
	    }

	    @include mq(large) {
	    	width: 75%;
	    	min-height: 39.03rem;
	    }

	    @media screen and (min-width: remcalc(1600)) {
	    	width: 65%;
	    }
    }

    @include e(bg) {
    	@include square(100%);
    	transition: background-color 3s;
    	position: fixed;
    	top: 0;
    	left: 0;
    	z-index: -1;

    	&.brown {
    		background: rgb(173, 149, 73);
    	}
    }

    @include e(column) {
    	display: flex;
    	flex-direction: column;    	
    }

	@include e(space) {
		display: flex;
		justify-content: center;
		align-items: center;
	    text-align: center;
	    overflow: hidden;
    	@include square(remcalc($space-width-sm));
	    line-height: remcalc($space-width-sm);
	    font-size: remcalc($space-width-sm);
	    user-select: none;

	    @media screen and (min-width: remcalc(660)) and (min-height: remcalc(375)) {
	    	@include square(remcalc($space-width-ip6));
		    line-height: remcalc($space-width-ip6);
		    font-size: remcalc($space-width-ip6);
	    }

	    @media screen and (min-width: remcalc(1024)) and (min-height: remcalc(768)) {
	    	@include square(remcalc($space-width-md));
		    line-height: remcalc($space-width-md);
		    font-size: remcalc($space-width-md);
	    }

	    @include mq(large) {
	    	@include square(remcalc($space-width-lg));
		    line-height: remcalc($space-width-lg);
		    font-size: remcalc($space-width-lg);
	    }
	    
	    &.edge {
	    	background: $xLightBrown;
	    	border: 1px solid $lightBrown;
	    }
	    &.grass {
	    	background: $green;
	    	border: 1px solid $green;
	    }

	    &--sample {
	    	position: absolute;
	    }
		
	}

	&__message {
		display: flex;
		flex-direction: column;
		position: absolute;
	    top: 0;
	    left: 0;
	    z-index: 200;
	    width: 0;
	    height: 0;
	    padding: remcalc(20);
	    justify-content: center;
	    background: rgba(0,0,0,0.5);
	    opacity: 0;
	    font-size: remcalc(20);

	    @include mq(medium) {
	    	font-size: remcalc(30);
	    }

	    @include mq(large) {
	    	font-size: remcalc(45);
	    }
	}

}


