// ====================================
// Dog, cat, obstacles and food
// ===================================

$svg: '.svg';

%animal {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	@include square(remcalc($space-width-sm));
	transition: transform 0.2s;

	@media screen and (min-width: remcalc(660)) and (min-height: remcalc(375)) {
    	@include square(remcalc($space-width-ip6));
    }

    @media screen and (min-width: remcalc(1024)) and (min-height: remcalc(768)) {
    	@include square(remcalc($space-width-md));
    }

    @include mq(large) {
    	@include square(remcalc($space-width-lg));
    }
}

@mixin food-bgs($foods...) {
	@each $food in $foods {
		&.#{$food} {
			$url: #{$static-image-path}food/#{$food}#{$svg};
			/*background: url('../img/food/#{$food}.png') no-repeat center;*/
			background: url($url) no-repeat center;
			background-size: 50%;
		}
	}
}
@mixin animal-bgs($animals, $angles) {
	@each $animal in $animals {
		@each $angle in $angles {
			.#{$animal}-#{$angle} {
				$url: #{$static-image-path}#{$animal}/#{$animal}-#{$angle}#{$svg};
				// background: url(#{$static-image-path}#{$animal}-#{$angle}.png) no-repeat center;
				background: url($url) no-repeat center;
			}
		}
	}	
}

$animals	: dog, cat;
$angles		: up, down, left, right;

i {
	@include square(100%);
	display: block;

	&.obstruction {
		@include sides(90%, 90%);
		background: $brown;
		border-radius: 50%;
		border: 4px black solid;
	    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
	    @include mq(small) {
	    	border: 2px black solid;
		    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
	    }
	}
}

.cat {
	@extend %animal;
}

.dog {
	@extend %animal;
}

@include animal-bgs($animals, $angles);

.foodlayer {
	position: absolute;
	top: 0;
	left: 0;

	&__food {
		display: block;
		position: absolute;
		@include food-bgs(slice, steak, fish, drumstick, salami, sausage, meat);
		transform: scale(0);
		transition: transform 1s, opacity 1s;
		opacity: 0;

		&.grow {
			transform: scale(1);
			opacity: 1;
		}
	}
}
