// ====================================
// Mesages
// ===================================

.info {
    @include sides(100%, $info-bar-ht-sm);
    background: $xLightBrown;
    border: solid 2px $lightBrown;
    margin: 0 auto;
    
    @include mq(medium) {
    	@include sides($space-md * 10, $info-bar-ht-md);
    }

    @include mq(large) {
        width: $space-lg * 10;
        height: $info-bar-ht-lg;
        line-height: $info-bar-ht-lg;
    }
   
	span { 
		line-height: $info-bar-ht-sm - 2;
		height: $info-bar-ht-sm - 2;
		display: inline-block;
		font-size: .75em;
		float: left;

		&:first-child {
        	padding-left: 20px;
        }

		@include mq(medium) { 
			font-size: 1.3em; 
			height: $info-bar-ht-md - 2;
	        line-height: $info-bar-ht-md - 2;
		}

		@include mq(large) {
	        height: $info-bar-ht-lg - 2;
	        line-height: $info-bar-ht-lg - 2;
	        
	    }
	}
}

.stats {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	z-index: $hints-z-index - 2;
	@include square(100%);
	justify-content: center;
	background: white;
	
	

	@include e(text) {
		color: black;
		margin: 0 auto;
		font-size: $ft-sz-info;
		text-align: left;
		width: 60%;
		h4 { margin-top: 0; }
		
		@include mq(small) {
			font-size: $ft-sz-info--sm;
		}
	}
}




