// ====================================
// Mesages
// ===================================

.info {
	position: relative;
	margin: 0 auto;
    border: solid 2px $lightBrown;
    @include sides(remcalc($space-width-sm * 10), $info-bar-ht-sm);
    background: $xLightBrown;
    
    @media screen and (min-width: remcalc(660)) and (min-height: remcalc(375)) {
    	width: remcalc(10 * $space-width-ip6);
    }

    @media screen and (min-width: remcalc(1024)) and (min-height: remcalc(768)) {
    	width: remcalc(10 * $space-width-md);
    }
    
    @include mq(medium) {
    	height: $info-bar-ht-md;
    }

    @include mq(large) {
        width: remcalc($space-width-lg * 10);
        height: $info-bar-ht-lg;
        line-height: $info-bar-ht-lg;
    }
   
	span { 
		position: absolute;
		line-height: $info-bar-ht-sm - 2;
		height: $info-bar-ht-sm - 2;
		display: inline-block;
		font-size: .75em;
		float: left;

		&:first-child {
			top: 0;
			left: 0;
        	padding-left: remcalc(20);
        }

        &:nth-child(2) {
        	top: 50%;
        	left: 50%;
        	transform: translate(-50%,-50%);
        }

        &:last-child {
        	top: 0;
        	right: 0;
        	padding-right: remcalc(20);
        }

		@include mq(medium) { 
			font-size: 1.3em; 
			height: $info-bar-ht-md - 2;
	        line-height: $info-bar-ht-md - 2;
		}

		@include mq(large) {
	        height: $info-bar-ht-lg - 2;
	        line-height: $info-bar-ht-lg - 2;
	        
	    }
	}
}

.stats {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	z-index: $hints-z-index - 2;
	@include square(100%);
	justify-content: center;
	background: white;
	
	&__text {
		color: black;
		margin: 0 auto;
		font-size: $ft-sz-info;
		text-align: left;
		width: 60%;

		h4 { 
			margin-top: 0; 
		}
		
		@include mq(small) {
			font-size: $ft-sz-info--sm;
		}
	}
}




