// ==========================================================================
// Helpers
// ==========================================================================


// TEXT ALIGN

%center-align-txt {
	text-align: center;
}

%left-align-text {
	text-align: left;
}


// SIZE

%line-height {
	line-height: 22px;
}

%full-size {
	height: 100%;
	width: 100%;
}

// TEXT WEIGHT

%font-bold {
	font-weight: $font-weight--bold;
}


// POSITIONING ==========================

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
