// ====================================
// Mixins
// ===================================

// BEM selectors
@mixin e($element) {
	&__#{$element} {
    @content;
  }
}
@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

// Media queries
@mixin mq($break) {
	//Target ONLY iphone4
	@if $break == "iphone4" {
		@media only screen and (min-device-width: 320px) 
		and (max-device-width: 480px) 
		and (-webkit-device-pixel-ratio: 2) 
		and (device-aspect-ratio: 2/3) {
			@content; 
		}
	}
	@else if $break == "iphone6" {
		@media (min-width: 375px) and (max-width: $brkpoint-md) {
			@content; 
		}
	}
	@else if $break == "small" {
		@media (min-width: $brkpoint-sm) and (max-width: $brkpoint-md) {
			@content; 
		}
	}
	@else if $break == "tablets" {
		@media (min-width: $brkpoint-md + 1) and (max-width: $brkpoint-lg - 1) {
			@content; 
		}
	}
	@else if $break == "hand-devices" {
		@media (max-width: $brkpoint-lg - 1) {
			@content; 
		}
	}
	@else if $break == "medium" {
		@media (min-width: $brkpoint-md + 1) {
			@content; 
		}
	}
	@else if $break == "large" {
		@media (min-width: $brkpoint-lg) {
			@content; 
		}
	}
	@else if $break == "xlarge" {
		@media (min-width: $brkpoint-lg + 100) {
			@content; 
		}
	}
	@else if $break == "xxlarge" {
		@media (min-width: $brkpoint-lg + 300) {
			@content; 
		}
	}
	@else if $break == "landscape" {
		@media screen and (orientation: landscape) {
			@content; 
		}
	}
	@else if $break == "landscape-sm" {
		@media screen and (orientation: landscape) and (max-width: 677px) {
			@content; 
		}
	}
	@else {
		@error "Whoops! No value could be retrieved for '#{$break}'."
	}
}


// Generating :before or :after pseudo-element shapes
@mixin p-el(
	$el,
	$el-w: null,
	$el-h: null) {
	@if $el == "before" or $el == "after" { 
		&::#{$el} {
			display: block;
			content: ''; 
			position: absolute;
			width: $el-w;
			height: $el-h;
			@content;
		}
	} 
	@else {
    	@error "`#{$el}` is not a valid pseudo-element.";
	}
}


// 	ELEMENTS
@mixin standard-btn($width, $height, $background: none, $height-nw: null, $width-nw: null) {
	border: none;
	outline: none;
	background: $background;
	height: $height;
	width: $width;
	@include mq(medium) {
		height: $height-nw;
		width: $width-nw;
	}
}

@mixin sides($w, $h) {
	width: $w;
	height: $h;
}

@mixin square($val) {
	width: $val;
	height: $val;
}
