// ====================================
// Base
// ===================================

* {
	box-sizing: border-box;
}

html, 
body { 
	margin: 0; 
	padding: 0; 
	width: 100%; 
	height: 100%; 
	overflow: hidden
}

body {
	transition: background .1s;
	text-align: center;
	color: white;
	font-family: $font-family--primary;
}

a {
	text-decoration: none;
}

button, 
select { 
	margin: remcalc(10);
	border: solid $black 1px;
	padding: remcalc(10) remcalc(20);
	background-color: $white;
	color: $black;
	font-size: remcalc(18);
	cursor: pointer;
}

button { 
	// color: white; 
	font-family: $font-family--primary; 
}

