// ========================================
// Main
// ========================================

.main {
  display: flex;
  flex-direction: column;
  @include square(100%);
  justify-content: center;
  align-items: center;

  &__background {
    @include square(100%);
    transition: background-color 3s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    &.brown {
      background: rgb(173, 149, 73);
    }
  }

  &__container {
    position: relative;
    width: 100%;
    background: $brown;
    border: $brown-dark 1px solid;
    min-height: 280px;

    @include mq(iphone6, only) {
      min-height: 325px;
    }

    @include mq(sm) {
      min-height: 560px;
    }

    @include mq(md) {
      width: 75%;
      min-height: 39.03rem;
    }

    @media screen and (min-width: remcalc(1600)) {
      width: 65%;
    }
  }

  &__message {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    width: 0;
    height: 0;
    padding: remcalc(20);
    justify-content: center;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    font-size: remcalc(20);

    @include mq(sm) {
      font-size: remcalc(30);
    }

    @include mq(md) {
      font-size: remcalc(45);
    }
  }
}
