// ========================================
// Players
// ========================================

$player-faces: 'left', 'up', 'right', 'down';

@mixin player-background-positions($faces) {
  $background-offset: 0;

  @each $face in $faces {
    &-#{$face} {
      background-position: #{$background-offset}#{'%'};
    }
    $background-offset: $background-offset + (100 / 3);
  }
}

%player {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  @include square(remcalc($space-width-sm));
  background-size: 400%;
  background-repeat: no-repeat;
  transition: transform 0.2s;

  @media screen and (min-width: remcalc(660)) and (min-height: remcalc(375)) {
    @include square(remcalc($space-width-ip6));
  }

  @media screen and (min-width: remcalc(1024)) and (min-height: remcalc(768)) {
    @include square(remcalc($space-width-md));
  }

  @include mq(md) {
    @include square(remcalc($space-width-lg));
  }
}

.cat {
  @extend %player;
  background-image: url('#{$static-image-path}/cat.svg');
  @include player-background-positions($player-faces);
}

.dog {
  @extend %player;
  background-image: url('#{$static-image-path}/dog.svg');
  @include player-background-positions($player-faces);
}
