@import url("https://fonts.googleapis.com/css?family=Proza+Libre");
i {
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
  top: 50%;
  left: 50%; }

* {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  transition: background .1s;
  text-align: center;
  color: white;
  font-family: "Proza Libre", Helvetica, Arial, sans-serif; }

a {
  text-decoration: none; }

button,
select {
  margin: 0.3125rem;
  border-radius: 0;
  border: solid #000 1px;
  padding: 0.3125rem 0.625rem;
  background-color: #fff;
  color: #000;
  font-size: 0.875rem;
  cursor: pointer; }
  @media (min-width: 1100px) {
    button,
    select {
      margin: 0.625rem;
      padding: 0.625rem 1.25rem;
      font-size: 1.125rem; } }

button {
  font-family: "Proza Libre", Helvetica, Arial, sans-serif; }

#root {
  width: 100%;
  height: 100%; }

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center; }

.garden {
  display: flex;
  position: relative;
  margin: 0 auto;
  border: 3px solid #3c761e;
  width: 21.875rem;
  justify-content: center;
  vertical-align: top;
  z-index: 100; }
  @media screen and (min-width: 41.25rem) and (min-height: 23.4375rem) {
    .garden {
      width: 25rem; } }
  @media screen and (min-width: 64rem) and (min-height: 48rem) {
    .garden {
      width: 43.75rem; } }
  @media (min-width: 1100px) {
    .garden {
      width: 46.875rem; } }
  .garden__container {
    position: relative;
    width: 100%;
    background: #65572b;
    border: #41381c 1px solid;
    min-height: 280px; }
    @media (min-width: 375px) and (max-width: 767px) {
      .garden__container {
        min-height: 325px; } }
    @media (min-width: 768px) {
      .garden__container {
        min-height: 560px; } }
    @media (min-width: 1100px) {
      .garden__container {
        width: 75%;
        min-height: 39.03rem; } }
    @media screen and (min-width: 100rem) {
      .garden__container {
        width: 65%; } }
  .garden__bg {
    width: 100%;
    height: 100%;
    transition: background-color 3s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; }
    .garden__bg.brown {
      background: #ad9549; }
  .garden__column {
    display: flex;
    flex-direction: column; }
  .garden__space {
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 2.1875rem;
    height: 2.1875rem;
    line-height: 2.1875rem;
    font-size: 2.1875rem;
    user-select: none; }
    @media screen and (min-width: 41.25rem) and (min-height: 23.4375rem) {
      .garden__space {
        width: 2.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
        font-size: 2.5rem; } }
    @media screen and (min-width: 64rem) and (min-height: 48rem) {
      .garden__space {
        width: 4.375rem;
        height: 4.375rem;
        line-height: 4.375rem;
        font-size: 4.375rem; } }
    @media (min-width: 1100px) {
      .garden__space {
        width: 4.6875rem;
        height: 4.6875rem;
        line-height: 4.6875rem;
        font-size: 4.6875rem; } }
    .garden__space.edge {
      background: #ad9549;
      border: 1px solid #776633; }
    .garden__space.grass {
      background: #3c761e;
      border: 1px solid #3c761e; }
    .garden__space--sample {
      position: absolute; }
  .garden__message {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    width: 0;
    height: 0;
    padding: 1.25rem;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    font-size: 1.25rem; }
    @media (min-width: 768px) {
      .garden__message {
        font-size: 1.875rem; } }
    @media (min-width: 1100px) {
      .garden__message {
        font-size: 2.8125rem; } }

.cat, .dog {
  display: block;
  position: absolute;
  top: 0.0625rem;
  left: -0.125rem;
  width: 2rem;
  height: 2rem;
  transition: transform 0.2s; }
  @media screen and (min-width: 41.25rem) and (min-height: 23.4375rem) {
    .cat, .dog {
      width: 2.3125rem;
      height: 2.3125rem; } }
  @media screen and (min-width: 64rem) and (min-height: 48rem) {
    .cat, .dog {
      width: 4.1875rem;
      height: 4.1875rem; } }
  @media (min-width: 1100px) {
    .cat, .dog {
      width: 4.5rem;
      height: 4.5rem; } }

i {
  width: 100%;
  height: 100%;
  display: block; }
  i.obstruction {
    width: 90%;
    height: 90%;
    background: #65572b;
    border-radius: 50%;
    border: 4px black solid;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5); }
    @media (min-width: 1px) and (max-width: 767px) {
      i.obstruction {
        border: 2px black solid;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); } }
  i.slice {
    /*background: url('../img/food/slice.png') no-repeat center;*/
    background: url(../img/food/slice.svg) no-repeat center;
    background-size: 50%; }
  i.steak {
    /*background: url('../img/food/steak.png') no-repeat center;*/
    background: url(../img/food/steak.svg) no-repeat center;
    background-size: 50%; }
  i.fish {
    /*background: url('../img/food/fish.png') no-repeat center;*/
    background: url(../img/food/fish.svg) no-repeat center;
    background-size: 50%; }
  i.drumstick {
    /*background: url('../img/food/drumstick.png') no-repeat center;*/
    background: url(../img/food/drumstick.svg) no-repeat center;
    background-size: 50%; }
  i.salami {
    /*background: url('../img/food/salami.png') no-repeat center;*/
    background: url(../img/food/salami.svg) no-repeat center;
    background-size: 50%; }
  i.sausage {
    /*background: url('../img/food/sausage.png') no-repeat center;*/
    background: url(../img/food/sausage.svg) no-repeat center;
    background-size: 50%; }
  i.meat {
    /*background: url('../img/food/meat.png') no-repeat center;*/
    background: url(../img/food/meat.svg) no-repeat center;
    background-size: 50%; }

.dog-up {
  background: url(../img/dog/dog-up.svg) no-repeat center; }

.dog-down {
  background: url(../img/dog/dog-down.svg) no-repeat center; }

.dog-left {
  background: url(../img/dog/dog-left.svg) no-repeat center; }

.dog-right {
  background: url(../img/dog/dog-right.svg) no-repeat center; }

.cat-up {
  background: url(../img/cat/cat-up.svg) no-repeat center; }

.cat-down {
  background: url(../img/cat/cat-down.svg) no-repeat center; }

.cat-left {
  background: url(../img/cat/cat-left.svg) no-repeat center; }

.cat-right {
  background: url(../img/cat/cat-right.svg) no-repeat center; }

.food {
  transition: opacity 20s,  transform 1s 4s;
  transform-origin: -150% -150%;
  opacity: 1; }

.food.fade {
  transform: scale(0.75);
  opacity: 0; }

.shutter__inner--left, .shutter__inner--right {
  width: 450px;
  height: 100%;
  position: absolute;
  transition: background .5s; }
  @media (min-width: 1px) and (max-width: 767px) {
    .shutter__inner--left, .shutter__inner--right {
      width: 220px; } }
  .shutter__inner--left span, .shutter__inner--right span {
    position: absolute; }
    .shutter__inner--left span.message, .shutter__inner--right span.message {
      top: 50%;
      width: 500px;
      font-size: 2em;
      padding: 0 20px; }
      @media (min-width: 1px) and (max-width: 767px) {
        .shutter__inner--left span.message, .shutter__inner--right span.message {
          font-size: 1em;
          width: 300px; } }
    .shutter__inner--left span.game-over, .shutter__inner--right span.game-over {
      top: 10%;
      width: 350px;
      font-size: 3em;
      display: none; }
      @media (min-width: 1px) and (max-width: 767px) {
        .shutter__inner--left span.game-over, .shutter__inner--right span.game-over {
          font-size: 2em;
          width: 300px; } }

.shutter {
  width: 50%;
  height: 100%;
  transition: width 1s;
  position: fixed;
  top: 0;
  z-index: 499;
  overflow: hidden;
  background: #41381c; }
  .shutter--left {
    left: 0; }
    .shutter--left span.message {
      transform: translate3d(50%, -50%, 0);
      top: 50%;
      right: 0; }
  .shutter--right {
    right: 0; }
    .shutter--right span.message {
      transform: translate3d(-50%, -50%, 0);
      top: 50%;
      left: 0; }
  .shutter__lining {
    position: absolute;
    background: rgba(0, 0, 0, 0.25);
    z-index: 200; }
    .shutter__lining.hori {
      width: 100%;
      height: 5px;
      right: 0; }
      .shutter__lining.hori.top {
        top: 0; }
      .shutter__lining.hori.bottom {
        bottom: 0; }
    .shutter__lining.vert {
      width: 5px;
      height: 100%;
      top: 0; }
      .shutter__lining.vert.right {
        right: 0;
        border-right: rgba(0, 0, 0, 0.275) solid 1px; }
      .shutter__lining.vert.left {
        left: 0;
        border-left: rgba(0, 0, 0, 0.275) solid 1px; }

.shutter__inner--left {
  right: 0; }
.shutter__inner--right {
  left: 0; }

.hints {
  display: flex;
  position: relative;
  flex-direction: column;
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 500;
  width: 100%;
  height: 100%;
  background-color: #65572b;
  justify-content: center;
  align-items: center;
  border-bottom: 0.3125rem whitesmoke solid;
  transition: transform 1s; }
  .hints__controls {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%); }
  .hints__message {
    max-width: 53.125rem;
    padding: 1.25rem;
    font-size: 1.125rem; }
    @media (min-width: 768px) {
      .hints__message {
        font-size: 1.5625rem; } }
    @media (min-width: 1100px) {
      .hints__message {
        font-size: 2.1875rem; } }

.gamecontrols {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 501;
  transform: translate(-50%, 100%);
  transition: all 0.4s; }

.shutter__ctrl {
  transition: background .4s;
  background: #519f28;
  padding: 6px;
  margin-top: 10px;
  border: #1d190d;
  outline: none;
  border-radius: 10px;
  position: absolute;
  z-index: 300; }
  @media (min-width: 1px) and (max-width: 767px) {
    .shutter__ctrl {
      font-size: .8em;
      padding: 3px; } }
  .shutter__ctrl.skip {
    right: 20px;
    width: 90px; }
    @media (min-width: 1px) and (max-width: 767px) {
      .shutter__ctrl.skip {
        width: 65px;
        right: 10px; } }
  .shutter__ctrl.next {
    left: 20px;
    width: 90px; }
    @media (min-width: 1px) and (max-width: 767px) {
      .shutter__ctrl.next {
        width: 65px;
        left: 10px; } }
  .shutter__ctrl.new {
    left: 51%;
    z-index: 300;
    margin-top: 9px; }
  .shutter__ctrl.difficulty {
    left: 8px;
    color: white;
    padding: 8px;
    z-index: 1010; }
    @media (min-width: 1px) and (max-width: 767px) {
      .shutter__ctrl.difficulty {
        width: 65px;
        font-size: .8em;
        padding: 3px; } }
    .shutter__ctrl.difficulty.with-stats {
      left: initial;
      right: 51%;
      z-index: 850; }
    .shutter__ctrl.difficulty.hidden {
      display: none; }
  .shutter__ctrl:hover {
    background: #3c761e; }
  @media (min-width: 768px) {
    .shutter__ctrl {
      font-size: 1.2em; } }

.info {
  width: 100%;
  height: 20px;
  background: #ad9549;
  border: solid 2px #776633;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .info {
      width: 40rem;
      height: 30px; } }
  @media (min-width: 1100px) {
    .info {
      width: 45rem;
      height: 40px;
      line-height: 40px; } }
  .info span {
    line-height: 18px;
    height: 18px;
    display: inline-block;
    font-size: .75em;
    float: left; }
    .info span:first-child {
      padding-left: 20px; }
    @media (min-width: 768px) {
      .info span {
        font-size: 1.3em;
        height: 28px;
        line-height: 28px; } }
    @media (min-width: 1100px) {
      .info span {
        height: 38px;
        line-height: 38px; } }

.stats {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 498;
  width: 100%;
  height: 100%;
  justify-content: center;
  background: white; }
  .stats__text {
    color: black;
    margin: 0 auto;
    font-size: 2em;
    text-align: left;
    width: 60%; }
    .stats__text h4 {
      margin-top: 0; }
    @media (min-width: 1px) and (max-width: 767px) {
      .stats__text {
        font-size: 1em; } }

.is-displayed-sm {
  display: block; }
  @media (min-width: 768px) {
    .is-displayed-sm {
      display: none; } }

@media (min-width: 1px) and (max-width: 767px) {
  .is-hidden-sm {
    display: none; } }

.is-displayed-md {
  display: none; }
  @media (min-width: 768px) and (max-width: 1099px) {
    .is-displayed-md {
      display: block; } }

.is-displayed-lg {
  display: none; }
  @media (min-width: 1100px) {
    .is-displayed-lg {
      display: block; } }

.js-showing-hints {
  transform: translateY(100%); }

.js-open-shutters .shutter {
  width: 0; }

.js-visible-message {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 3s; }

.js-showing-controls {
  transform: translate(-50%); }

.hints.get-food {
  background: #41381c url(../img/hints/get-food.png) no-repeat center;
  background-size: cover; }

.hints.too-tired {
  background: #41381c url(../img/hints/too-tired.png) no-repeat center;
  background-size: cover; }

.hints.too-big {
  background: #41381c url(../img/hints/too-big.png) no-repeat center;
  background-size: cover; }

.hints.avoid-dog {
  background: #41381c url(../img/hints/avoid-dog.png) no-repeat center;
  background-size: cover; }

.hints.move-cat {
  background: #41381c url(../img/hints/move-cat.png) no-repeat center;
  background-size: cover; }

.hints.time-limit {
  background: #41381c url(../img/hints/time-limit.png) no-repeat center;
  background-size: cover; }

.hints.get-ready {
  background: #41381c url(../img/hints/get-ready.png) no-repeat center;
  background-size: cover; }

.hints.dog-caught {
  background: #41381c url(../img/hints/dog-caught.png) no-repeat center;
  background-size: cover; }

.hints.ran-into {
  background: #41381c url(../img/hints/ran-into.png) no-repeat center;
  background-size: cover; }

.hints.no-stamina {
  background: #41381c url(../img/hints/no-stamina.png) no-repeat center;
  background-size: cover; }

.hints.you-win {
  background: #41381c url(../img/hints/you-win.png) no-repeat center;
  background-size: cover; }

/*# sourceMappingURL=garden.css.map */
